BACKEND_CORS_ORIGINS=http://127.0.0.1,http://127.0.0.1:8000,http://localhost,http://localhost:8000,http://localhost:8081,http://127.0.0.1:8081
WORKERS_PER_CORE=
SQLITE_DB=sqlite:////data/db.sqlite
PROJECT_NAME=classify
SECRET_KEY=
FIRST_SUPERUSER=
FIRST_SUPERUSER_PASSWORD=
SMTP_TLS=True
SMTP_PORT=587
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=

USERS_OPEN_REGISTRATION=False

SENTRY_DSN=
